/* .site-footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #252b32;
   
    color: #fff;
    
    padding: 20px 0;
}

.site-footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.social-footer {
    display: flex;
    gap: 15px;
   
}

.footer-menu li,
.social-footer li {
    list-style-type: none;
}

.footer-menu a,
.social-footer a {
    color: #fff;
    text-decoration: none;
}


.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
} */