
<div class="container my-5">
    <div class="row">
        <div class="col border-rounded">
            <div class="container">
                <h1 class="text-center">Frontend Technology</h1>
                <div class="row my-4">
                    <hr>
                    <div class="col text-center">
                        <i class="fa-brands fa-html5 fa-2xl m-5" style="color: rgb(251, 109, 14); font-size: 50px;"></i>
                        <h4>HTML</h4>
                        <p style="text-align: justify; padding: 0 10px;">The standard markup language for creating web pages.</p>
                    </div>
                    <div class="col text-center">
                        <i class="fa-brands fa-css3-alt fa-2xl m-5" style="color: rgb(58, 102, 235); font-size: 50px;"></i>
                        <h4>CSS</h4>
                        <p style="text-align: justify; padding: 0 10px;">It is basic for the websiteA style sheet language used for describing the look.
                            </p>
                    </div>
                    <div class="col text-center">
                        <i class="fa-brands fa-js fa-2xl m-5" style="color: rgb(113, 234, 76); font-size: 50px;"></i>
                        <h4>JAVASCRIPT</h4>
                        <p style="text-align: justify; padding: 0 10px;">It's essential for adding dynamic behavior and client-side validation to web applications.</p>
                    </div>
                    <div class="col text-center">
                        <i class="fa-brands fa-bootstrap fa-2xl m-5" style="color: rgb(122, 72, 231); font-size: 50px;"></i>
                        <h4>BOOTSTRAP</h4>
                        <p style="text-align: justify; padding: 0 10px;">It's powerful front-end framework for faster.
                            It provides design templates based on HTML, CSS, and JavaScript.</p>
                    </div>
                    <div class="col text-center">
                        <i class="fa-brands fa-angular fa-2xl m-5" style="color: rgb(222, 45, 45); font-size: 50px;"></i>
                        <h4>ANGULAR</h4>
                        <p style="text-align: justify; padding: 0 10px;">A platform and framework for building single-page client applications.</p>
                    </div>
                    <div class="col text-center">
                        <i class="fa-brands fa-java fa-2xl m-5" style="color: rgb(251, 109, 14); font-size: 50px;"></i>
                        <h4>SWING</h4>
                        <p style="text-align: justify; padding: 0 10px;">Swing is a part of Java Foundation Classes (JFC) used to create window-based applications with a rich set of GUI components.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col border-rounded">
            <div class="container">
                <h1 class="text-center">Backend Technology</h1>
                <div class="row my-4">
                    <hr>
                    <div class="col text-center">
                        <i class="fa-brands fa-java fa-2xl m-5" style="color: rgb(251, 109, 14); font-size: 50px;"></i>
                        <h4>JAVA</h4>
                        <p style="text-align: justify; padding: 0 10px;">It is high-level, class-based, object-oriented programming language. </p>
                    </div>
                    <div class="col text-center">
                        <i class="fa-solid fa-c fa-2xl m-5" style="color: rgb(58, 102, 235); font-size: 50px;"></i>
                        <h4>C Language</h4>
                        <p style="text-align: justify; padding: 0 10px;">General-purpose, procedural programming language that supports structured programming.</p>
                    </div>
                    <div class="col text-center">
                        <i class="fa-solid fa-cplusplus fa-2xl m-5" style="color: rgb(113, 234, 76); font-size: 50px;"></i>
                        <h4>CPP</h4>
                        <p style="text-align: justify; padding: 0 10px;">It's used in developing complex software systems, games.
                           </p>
                    </div>
                    <div class="col text-center">
                        <i class="fa-solid fa-leaf fa-2xl m-5" style="color: rgb(122, 72, 231); font-size: 50px;"></i>
                        <h4>SPRINGBOOT</h4>
                        <p style="text-align: justify; padding: 0 10px;">It simplifies the development of new Spring applications.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-3 m-2"></div>
        <div class="col-6 m-2 text-center">
            <h2 class="text-center">DATABASE USED</h2>
            <i class="fa-solid fa-database fa-2xl m-5" style="color: rgb(251, 109, 14); font-size: 50px;"></i>
            <h4>MYSQL</h4>
            <p>An open-source relational database management system based on SQL.
                It's widely used for web database storage and is known for its speed and reliability.</p>
        </div>
        <div class="col-3 m-2"></div>
    </div>
</div>

<div class="container">
    <h1 class="certificate-header">Certification</h1>
    <ul class="certificate-list">
        <li class="certificate-item">
            <h4>FULL STACK JAVA <span>(2023-2024)</span></h4>
            <p>- by Symbiosis Distance Learning, Pune</p>
        </li>
        <li class="certificate-item">
            <h4>Frontend Developer Internship <span>(2022)</span></h4>
            <p>- by Alive Infotech, Nagpur</p>
        </li>
    </ul>
</div>
