<div class="container my-5">
    <div class="row"></div>
    <div class="container text-center">
        <div class="row my-4">
            <div class="col-8">
                <div class="card text-bg-dark">
                    <h5 class="card-title" style="font-size: 80px;">Nice to meet you, I'm Mayuri Sonkusare</h5>
                </div>

                <div class="row my-3">

                    Am Fresher, To get an opportunity when I can make the best of my potential and contribute to the organization's growth. I can leearn new skills, expand my knowledge, and leverage my learings.

                    <button style="font-size: 20px;" class="btn btn-primary my-2"(click)="goToSkillPage()" >SKILLS</button>

                    <!-- <a routerLink="skills" style="font-size: 20px;" class="my-2">SKILLS</a> -->
                </div>

                <div class="row">
                    <div class="col-6">
                        <p><span style="font-size: 100px; font-weight: bolder;">6</span><span
                                style="font-size: 100px; font-weight: bolder;color: rgb(61, 61, 196);">+</span><span
                                style="font-weight: bolder;">Months of experience</span></p>
                    </div>
                    <div class="col-6">
                        <p><span style="font-size: 100px; font-weight: bolder;">3</span><span
                                style="font-size: 100px; font-weight: bolder;color: rgb(61, 61, 196);">+</span><span
                                style="font-weight: bolder;">Successfull Projects</span></p>
                    </div>
                </div>


            </div>
            <div class="col-4">
                <img src="assets/Images/mayu.jpeg"
                    style="height: 180px; width: 180px; border:20x solid black; border-radius: 50%; background-color: aliceblue;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card bg-dark text-light" style="max-width: 640px;">
                    <div class="card-body ">
                        <h5 class="card-title">Who I am <i class="fa-solid fa-face-grin-wink fa-lg"></i></h5>
                        <p class="card-text">
                            I am a bold, dedicated professional who is ready to work and consistently completes tasks on time.
                            My curiosity drives me to continuously learn new skills, enhancing my ability to take on diverse
                            projects successfully. With a track record of numerous completed projects, I bring both experience
                            and a positive attitude to my work. Additionally, I am known for my honesty and a happy disposition,
                            which helps foster a productive and pleasant working environment.        
                            </p>
                    </div>
            </div>
            </div>
            <div class="col-6">
                <div class="card bg-dark text-light" style="max-width: 640px;">
                        <div class="card-body ">
                            <h5 class="card-title">Hobbies <i class="fa-solid fa-wand-sparkles fa-lg"></i></h5>
                            <p class="card-text">I am passionate about playing sports and enjoy dancing, often performing at various events. I also have a love for cooking and take pleasure in dressing up and experimenting with makeup.</p>
                        </div>
                </div>
            </div>
        </div>
       
    </div>




</div>