<div class="container my-4">
    <div class="card my-3">
        <div class="card-header">
          Project Overview <i class="fa-solid fa-circle-info " ></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{projectTitle}}</h5>
          <p class="card-text">{{projectDescription}}</p>
          <p class="text-light"><b>my contribution</b> - {{projectContribution}} </p>
          <a href="#" class="text-center"><i class="fa-brands fa-github mx-2"></i>{{projectLink}}</a>
        </div>
      </div>
    
</div>