<div class="container my-5">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
      </li>
        <li class="nav-item">
          <a class="nav-link active"  routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="projects">Projects<span class="badge text-bg-light">Extra</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
      </ul>

      
</div>