/* body {
    background-color: #534d4d5e;
    color: rgb(255, 239, 206);
}

.container {
    margin-top: 50px;
}

.header {
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 8px 10px black;
    text-align: center;
}

.para {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

input, textarea {
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    padding: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}

 */
