button .icon{
    /* background-color: black;
    color: aliceblue;
    max-width: 100px;
    max-height: 80px;
    border-radius: 50%; */
    font-size: 40px;
}

@keyframes borderAnimation {
    0% {
        border-bottom-width: 0;
        border-bottom-color: transparent;
    }
    50% {
        border-bottom-width: 4px;
        border-bottom-color: rgb(255, 109, 47);
    }
    100% {
        border-bottom-width: 4px;
        border-bottom-color: transparent;
    }
}

h2 {
    padding: 2px;
    margin-bottom: 2px;
    border-bottom: solid greenyellow;
    border-bottom-width: 4px;
    padding-bottom: 10px;
    animation: borderAnimation 2s infinite;
}

.pdf-container {
    width: 60%;
    height: 500px; /* Adjust the height as needed */
    border: 1px solid #ccc; /* Optional border styling */
    padding: 2px;
    margin-top: 10px;
}
.download-icon {
    display: block;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    background-image: url('https://img.icons8.com/material-outlined/24/download.png'); /* Link to a download icon */
    background-size: cover;
    color: aliceblue;
    text-indent: -9999px; /* Hides text but keeps it for accessibility */
}