<div class="container">
    <h3
        style="padding: 2px; margin-left: 2px; border-left: solid greenyellow; border-left-width: 4px; padding-left: 10px;">
        What I Do?
    </h3>
    <p>
        Leveraging the skills listed in my portfolio, I focus on creating websites and desktop applications, with a
        strong commitment to growing my technical proficiency and logical reasoning. I trust that by growing together,
        we can make the world a better place for all.
    </p>
    
</div>

<h1 class="text-center">MY Works</h1>

<div class="container my-3 shadow-sm p-3 mb-5 bg-body-primary rounded">
    <div id="portfolioCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    <img src="assets/Images/p1a.png" class="card-img-top" alt="Image 1">
                                </div>
                                <div class="col">
                                    <img src="assets/Images/p1b.png" class="card-img-bottom" alt="Image 1">
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Evaluation Of Academic Performance Of Student</h5>
                                <p class="card-text">Final Year Project</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                    <button class="btn btn-primary my-2 me-md-2" (click)="goToDetailsPage('Evaluation Of Academic Performance Of Student', 
                            'The evaluation of student’s academic performance is a critical issue in education systems. The result show that the proposed method can identify students who perform well in some areas but poorly in other, which may not capture by traditional methods. The results from Fuzzy Logic model for academic performance evaluation can be represented as a Numerical Score. ', 
                            'https://github.com/Missmayu592/Fuzzy-Logic.git', 
                            'I actively led the frontend development (used skills are HTML, CSS, Bootstrap) of this project, leveraging my skills to design and implement a seamless and user-friendly interface. My contributions ensured an engaging user experience aligned with the project’s objectives.')">
                                        Show
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    <img src="assets/Images/p2a.png" class="card-img-top" alt="Image 1">
                                </div>
                                <div class="col">
                                    <img src="assets/Images/p2b.png" class="card-img-bottom" alt="Image 1">
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Assisting Farmers Data for Crop Selection & Fertilizer Suggestion
                                </h5>
                                <p class="card-text">Work on Frontend</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                    <button class="btn btn-primary my-2"
                                        (click)="goToDetailsPage('Assisting Farmers Data for Crop Selection & Fertilizer Suggestion',
                                            'Our integrated system for Crop Prediction, Fertilizer Suggestion, Disease Detection, and Weather Forecasting provides a comprehensive solution to modern agricultural challenges. By leveraging advanced machine learning techniques, we empower farmers to make informed decisions, optimize crop yields, and enhance soil health. The predictive insights from weather forecasts and tailored fertilizer recommendations ensure sustainable farming practices, improving both productivity and environmental stewardship. Embracing this technology can lead to smarter agricultural management, securing food supply and contributing to the overall resilience of the agricultural sector.',
                                            'https://github.com/Missmayu592/PrediCrop-recommendition.git',
                                            'I actively led the frontend development (used skills Angular, Bootstrap, Typescript) of this project, leveraging my skills to design and implement a seamless and user-friendly interface. My contributions ensured an engaging user experience aligned with the project’s objectives.')">Show</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="row">
                            <div class="col">
                                <img src="assets/Images/p3a.png" class="card-img-top" alt="Image 1">
                            </div>
                            <div class="col">
                                <img src="assets/Images/p3b.png" class="card-img-bottom" alt="Image 1">
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <button class="btn btn-primary my-2 me-md-2"
                                (click)="goToDetailsPage('SECURE BANK NETWORK', 'Project aims to develop secure banking application, providing users with a user-friendly interface for managing their accounts, executing financial transactions and ensuring data integrity. The system incorporates essential functionalities such as user and account management, seamless fund transfers & robust security measures, all contributing to an efficient and reliable banking experience for both users and administrator. ', 'https://github.com/your-link', 'I have been actively involved in all phases of project development, from initial planning and design to implementation, testing, and deployment, ensuring seamless delivery and performance.                                ')">Show</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 my-3">
                        <!-- <div class="card">
                            <img src="assets/Images/p4c.jpg" class="card-img-top" alt="Image 4">
                            <div class="card-body">
                                <h5 class="card-title">MCQ Desktop</h5>
                                <p class="card-text">First GUI Application</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                    <button class="btn btn-primary my-2 me-md-2"
                                        (click)="goToDetailsPage('SECURE BANK NETWORK', 'Project aims to develop secure banking application, providing users with a user-friendly interface for managing their accounts, executing financial transactions and ensuring data integrity. The system incorporates essential functionalities such as user and account management, seamless fund transfers & robust security measures, all contributing to an efficient and reliable banking experience for both users and administrator. ', 'https://github.com/your-link', 'I have been actively involved in all phases of project development, from initial planning and design to implementation, testing, and deployment, ensuring seamless delivery and performance.                                ')">Show</button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev p-2" type="button" data-bs-target="#portfolioCarousel"
            data-bs-slide="prev">
            <span class="icon"><i class="fa-solid fa-arrow-left fa-2xl"></i></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next p-2" type="button" data-bs-target="#portfolioCarousel"
            data-bs-slide="next">
            <span class="icon"><i class="fa-solid fa-arrow-right fa-2xl"></i></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container">
    <h2
        style="padding: 2px; margin-bottom: 2px; border-bottom: solid greenyellow; border-bottom-width: 4px; padding-bottom: 10px;">
        RESUME</h2>
        <iframe src="https://drive.google.com/file/d/1Qaa4BT9lY1fb22v95j3eR_WW78FMrnN1/preview" 
        class="pdf-container" frameborder="0"></iframe>
    
    <!-- Download link with correct export URL -->
    <a href="https://drive.google.com/uc?export=download&id=1EkhonhkdzPfWQL0PIZVKDl00e-bIMnR-" 
       class="download-icon text-light" download>
       Download my resume here
    </a>
</div>