
<div class="container my-5">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <span>I am <h1>Mayuri</h1>
                    <h1>Sonkusare</h1>
                    <h6 class="text-success">Software Developer</h6>
                </span>

                <ul class="my-4" id="social">
                    <li><a href="https://instagram.com/sonkusare102" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://hackerrank.com/sonkusaremayuri2" target="_blank"><i class="fa-brands fa-hackerrank"></i></a></li>
                    <li><a href="mailto:sonkusaremayuri523@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
                    <li><a href="https://github.com/Missmayu592" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                </ul>
                
                <h6>I am passionate about working in the technical field because it allows me to continuously grow, apply innovative solutions, and stay at the forefront of emerging technologies.</h6>
                <button type="button" class="btn btn-outline-primary" (click)="goToAboutPage()">View More</button>
               
            </div>
            <div class="col container">
            
                <img src="assets/Images/b.jpg" 
                alt="not found" 
                style="width: 400px; height: 500px; box-shadow: 0px 0px 10px rgba(249, 249, 249, 0.3); ">  
            </div>
        </div>
        <div class="row my-5">
            <h3 class="border-bottom"> <i class="fa-solid fa-heart" style="color: #ba4d12;"></i> Interested in</h3>
                <ul class="list-unstyled" >
                    <li style="font-size: 15px; cursor: pointer;" id="Interested">Java Developer</li>
                    <li style="font-size: 15px; cursor: pointer;" id="Interested">Java FullStack Developer,</li>
                    <li style="font-size: 15px; cursor: pointer;" id="Interested">Angular Developer</li>
                    <li style="font-size: 15px; cursor: pointer;" id="Interested">React Developer</li>
                </ul>
                
            

        </div>
    </div>
</div>